{% extends "base/base.html" %}
{% from "helpers/_formhelper.html" import render_form %}
{% block main_content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Create Order</h3>
        </div>
        {% call render_form(form) %}
            <button id="AddRow">Add Product</button>
        {% endcall %}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='selectize/css/selectize.bootstrap3.css') }}">
    <style>
        .selectize-control .selectize-dropdown [data-selectable] {
            border-bottom: 1px solid rgba(0,0,0,0.05);
        }
        .selectize-control .selectize-dropdown .by {
            font-size: 11px;
            opacity: 0.8;
        }
        .selectize-control .selectize-dropdown .by::before {
            content: 'by ';
        }
        .selectize-control .selectize-dropdown .name {
            font-weight: bold;
            margin-right: 5px;
        }
        .selectize-control .selectize-dropdown .title {
            display: block;
        }
        .selectize-control .selectize-dropdown .description {
            font-size: 12px;
            display: block;
            opacity: 0.5;
            white-space: nowrap;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .selectize-control .selectize-dropdown .meta {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 10px;
        }
        .selectize-control .selectize-dropdown .meta li {
            margin: 0;
            padding: 0;
            display: inline;
            margin-right: 10px;
        }
        .selectize-control .selectize-dropdown .meta li span {
            font-weight: bold;
        }
        .selectize-control::before {
            -moz-transition: opacity 0.2s;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s;
            content: ' ';
            z-index: 2;
            position: absolute;
            display: block;
            top: 50%;
            right: 34px;
            width: 16px;
            height: 16px;
            margin: -8px 0 0 0;
            background: url(../images/spinner.gif);
            background-size: 16px 16px;
            opacity: 0;
        }
        .selectize-control.loading::before {
            opacity: 0.4;
        }
        .icon {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            background-size: 16px 16px;
            margin: 0 3px 0 0;
        }
        .icon.fork {
            background-image: url(../images/repo-fork.png);
        }
        .icon.source {
            background-image: url(../images/repo-source.png);
        }
        .field_list {
            border:1px solid #ddd;
        }
        .field_list > .form-group:nth-child(3n):after{
            content: "";
            width: 100%;
            padding:10px;
            border-bottom: 1px solid #ddd;
            display:block;
        }
    </style>
{% endblock %}


{% block javascripts %}
    <script src="{{ url_for('static', filename='selectize/js/standalone/selectize.js') }}"></script>

    <script>
    (function ($) {
      $.fn.extend({
        addRows: function () {
            $(this).on("click", function(){
                var $last = $('[id ^=phones-][id $=-phone]').last();
                var elem_id = $last.attr('id');
                var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
                var newId = $last.attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');

                var $row = $last.parent().clone(true, true);
                $row.find('label').attr('id', newId);
                $row.find('input').attr('id', newId);
                $row.find('input').attr('name', newId);
                $row.find('input').val('');

                $last.parent().after($row);
            });
        }
      });
    })(jQuery);
    </script>
    <script type="text/javascript">
        $('[id ^=phones-][id $=-phone]').formsetHelpers();
        $('#AddRow').addRows();
    </script>


    <script>
        $('#client').selectize({
        valueField: 'id',
        labelField: 'label',
        searchField: 'name',
        create: false,
        options: {{ client_choices | safe}},
        render: {
        option: function(item, escape) {
            return '<div>' +
                    '<span class="title">' +
                        '<span class="name"><i class="glyphicon glyphicon-user" style="color:#bbb;"></i> ' + escape(item.name) + ' '+ escape(item.surname) + '</span>' +
                    '</span>' +
                    '<ul class="meta">' +
                        '<li class="language">ID: ' + escape(item.id) + '</li>' +
                        '<li class="language">E-mail: ' + escape(item.email) + '</li>' +
                        (item.phones && item.phones.length > 0 ? '<li class="language"> Phone: ' + escape(item.phones[0].phone) + '</li>' : '') +
                    '</ul>' +
                '</div>';
            }
        }
    });

    $inputs = $("select[name^='products'").selectize({
        valueField: 'id',
        labelField: 'name',
        searchField: 'name',
        create: false,
        options: {{ product_choices | safe }},
        render: {
        option: function(item, escape) {
            return '<div>' +
                    '<span class="title">' +
                        '<span class="name"><i class="glyphicon glyphicon-user" style="color:#bbb;"></i> ' + escape(item.name) + ' Price:'+ escape(item.price['py/id']) + 'PLN</span>' +
                    '</span>' +
                    '<ul class="meta">' +
                        '<li class="language">ID: ' + escape(item.id) + '</li>' +
                        '<li class="language">Price: ' + escape(item.price['py/id']) + 'PLN </li>' +
                    '</ul>' +
                '</div>';
            }
        }
    });

    $inputs.each(function(index, value){
        $(this).on('change', function(){
            $input_price = $(this).parent().next().find('input');
            $input_quantity = $(this).parent().next().next().find('input');
            $input_price.val($inputs[index].selectize.options[value.value].price['py/id']);
            if ($input_quantity.val() == '') {
                $input_quantity.val(1);
            };
        });
    });


</script>
{% endblock %}

