{% extends "base/base.html" %}
{% block main_content %}
  <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lista zamówień</h3>
                    <div class="box-tools">
                        <form method="GET">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="query" value="{{query}}" class="form-control pull-right" placeholder="Search">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Client</th>
                                <th>Sum</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            {% for order in orders %}
                                <tr>
                                    <td> {{order.id}} </td>
                                    <td> Client ID: {{order.client.id}}, {{order.client.name}}</td>
                                    <td>{{ order.sum }}</td>
                                    <td>
                                        <span class="label {% if order.status == 'Cancelled' %} label-danger {% else %} label-success {% endif %}">{{order.status}}</span>
                                    </td>
                                    <td><a href="{{url_for("orders.edit", order_id=order.id)}}" class="btn btn-warning">Edit</a></td>
                                    <td><a href="{{url_for("orders.cancel", order_id=order.id)}}" class="btn btn-danger">Delete</a></td>
                                </tr>
                            {% else %}
                            <tr>
                                <td>Brak zdefiniowanych zamówień</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}


